@tailwind base;
@tailwind components;
@tailwind utilities;

.cut-text {
  --max-lines: 4;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}